In [17]:
import pandas as pd
df = pd.read_csv('COVID_Data_Basic.csv')
df.head()

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered
0,1,Afghanistan,2019-12-31,0,0,0,0,0,0
1,2,Afghanistan,2020-01-01,0,0,0,0,0,0
2,3,Afghanistan,2020-01-02,0,0,0,0,0,0
3,4,Afghanistan,2020-01-03,0,0,0,0,0,0
4,5,Afghanistan,2020-01-04,0,0,0,0,0,0

In [23]:
df1 = df[df['Date'] == '2020-06-18'] 
#df.loc[df['Country'] == 'Russia']
df2 = df1.sort_values('Confirmed',ascending = False)
df3 = df2.head(12)
df3

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered
26821,26820,US,2020-06-18,2191052,118434,599115,27762,717,6924
12625,35761,Brazil,2020-06-18,978142,47748,534580,22765,1238,13534
23272,21009,Russia,2020-06-18,560321,7650,313409,7772,182,9609
17721,11920,India,2020-06-18,380532,12573,204711,13586,336,10386
26639,26522,United Kingdom,2020-06-18,301935,42373,1313,1218,135,9
24910,23691,Spain,2020-06-18,245268,27136,150376,585,0,0
22726,20115,Peru,2020-06-18,244388,7461,131190,3480,204,2568
18267,12814,Italy,2020-06-18,238159,34514,180544,331,66,1089
13717,53641,Chile,2020-06-18,225103,3841,186441,4475,226,4510
17903,12218,Iran,2020-06-18,197647,9272,156991,2596,87,2179
16174,93871,France,2020-06-18,195272,29606,74011,467,28,220
16538,99831,Germany,2020-06-18,189817,8875,173847,1213,24,248

In [31]:
ds = pd.read_excel('countries.xlsx', index_col = "Country")
ds

               geoId continentExp popData2019
Country
Afghanistan       AF         Asia    38041757
Albania           AL       Europe     2862427
Algeria           DZ       Africa    43053054
Andorra           AD       Europe       76177
Angola            AO       Africa    31825299
...              ...          ...         ...
Vietnam           VN         Asia    96462108
Western_Sahara    EH       Africa      582458
Yemen             YE         Asia    29161922
Zambia            ZM       Africa    17861034
Zimbabwe          ZW       Africa    14645473

[210 rows x 3 columns]

In [34]:
new_df = pd.merge(df, ds, how='inner', left_on='Country', right_index=True)
new_df.head()

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered,geoId,continentExp,popData2019
0,1,Afghanistan,2019-12-31,0,0,0,0,0,0,AF,Asia,38041757
1,2,Afghanistan,2020-01-01,0,0,0,0,0,0,AF,Asia,38041757
2,3,Afghanistan,2020-01-02,0,0,0,0,0,0,AF,Asia,38041757
3,4,Afghanistan,2020-01-03,0,0,0,0,0,0,AF,Asia,38041757
4,5,Afghanistan,2020-01-04,0,0,0,0,0,0,AF,Asia,38041757