In [41]:
import pandas as pd
df = pd.read_csv('COVID_Data_Basic.csv')
df.head()

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered
0,1,Afghanistan,2019-12-31,0,0,0,0,0,0
1,2,Afghanistan,2020-01-01,0,0,0,0,0,0
2,3,Afghanistan,2020-01-02,0,0,0,0,0,0
3,4,Afghanistan,2020-01-03,0,0,0,0,0,0
4,5,Afghanistan,2020-01-04,0,0,0,0,0,0

In [42]:
ds = pd.read_excel('countries.xlsx', index_col = "Country")
ds

               geoId continentExp popData2019
Country
Afghanistan       AF         Asia    38041757
Albania           AL       Europe     2862427
Algeria           DZ       Africa    43053054
Andorra           AD       Europe       76177
Angola            AO       Africa    31825299
...              ...          ...         ...
Vietnam           VN         Asia    96462108
Western_Sahara    EH       Africa      582458
Yemen             YE         Asia    29161922
Zambia            ZM       Africa    17861034
Zimbabwe          ZW       Africa    14645473

[210 rows x 3 columns]

In [43]:
new_df = pd.merge(df, ds, how='inner', left_on='Country', right_index=True)
new_df.head()

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered,geoId,continentExp,popData2019
0,1,Afghanistan,2019-12-31,0,0,0,0,0,0,AF,Asia,38041757
1,2,Afghanistan,2020-01-01,0,0,0,0,0,0,AF,Asia,38041757
2,3,Afghanistan,2020-01-02,0,0,0,0,0,0,AF,Asia,38041757
3,4,Afghanistan,2020-01-03,0,0,0,0,0,0,AF,Asia,38041757
4,5,Afghanistan,2020-01-04,0,0,0,0,0,0,AF,Asia,38041757

In [47]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21743 entries, 0 to 27549
Data columns (total 12 columns):
Unnamed: 0      21743 non-null int64
Country         21743 non-null object
Date            21743 non-null object
Confirmed       21743 non-null int64
Death           21743 non-null int64
Recovered       21743 non-null int64
newConfirmed    21743 non-null int64
newDeath        21743 non-null int64
newRecovered    21743 non-null int64
geoId           21594 non-null object
continentExp    21743 non-null object
popData2019     21743 non-null object
dtypes: int64(7), object(5)
memory usage: 2.2+ MB

In [44]:
df1 = new_df.loc[(new_df['Date'] == '2020-06-18') & (new_df['continentExp']=='Europe')] 
#df.loc[df['Country'] == 'Russia']
df2 = df1.sort_values('Confirmed',ascending = False)
df3 = df2.head(12)
df3

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered,geoId,continentExp,popData2019
23272,21009,Russia,2020-06-18,560321,7650,313409,7772,182,9609,RU,Europe,145872260
24910,23691,Spain,2020-06-18,245268,27136,150376,585,0,0,ES,Europe,46937060
18267,12814,Italy,2020-06-18,238159,34514,180544,331,66,1089,IT,Europe,60359546
16174,93871,France,2020-06-18,195272,29606,74011,467,28,220,FR,Europe,67012883
16538,99831,Germany,2020-06-18,189817,8875,173847,1213,24,248,DE,Europe,83019213
11988,25332,Belgium,2020-06-18,60348,9683,16724,104,8,40,BE,Europe,11455519
11897,23842,Belarus,2020-06-18,56657,331,34023,625,7,1288,BY,Europe,9452409
25274,24287,Sweden,2020-06-18,56043,5053,0,1481,12,0,SE,Europe,10230185
21634,18327,Netherlands,2020-06-18,49527,6097,186,115,4,0,NL,Europe,17282163
22999,20562,Portugal,2020-06-18,38089,1524,24010,417,1,430,PT,Europe,10276617
26457,26224,Ukraine,2020-06-18,34833,976,16001,847,23,516,UA,Europe,43993643
25365,24436,Switzerland,2020-06-18,31200,1956,28900,13,0,0,CH,Europe,8544527

In [46]:
cc = list(df3['Country'])
cc

['Russia',
 'Spain',
 'Italy',
 'France',
 'Germany',
 'Belgium',
 'Belarus',
 'Sweden',
 'Netherlands',
 'Portugal',
 'Ukraine',
 'Switzerland']

In [53]:
df5 = new_df[new_df['Country'].isin(cc)]
df5

,Unnamed: 0,Country,Date,Confirmed,Death,Recovered,newConfirmed,newDeath,newRecovered,geoId,continentExp,popData2019
966,967,Belarus,2019-12-31,0,0,0,0,0,0,BY,Europe,9452409
967,968,Belarus,2020-01-01,0,0,0,0,0,0,BY,Europe,9452409
968,969,Belarus,2020-01-02,0,0,0,0,0,0,BY,Europe,9452409
969,970,Belarus,2020-01-03,0,0,0,0,0,0,BY,Europe,9452409
970,971,Belarus,2020-01-04,0,0,0,0,0,0,BY,Europe,9452409
...,...,...,...,...,...,...,...,...,...,...,...,...
26453,26220,Ukraine,2020-06-14,31851,899,14596,674,9,107,UA,Europe,43993643
26454,26221,Ukraine,2020-06-15,32536,911,14771,685,12,175,UA,Europe,43993643
26455,26222,Ukraine,2020-06-16,33209,922,15054,673,11,283,UA,Europe,43993643
26456,26223,Ukraine,2020-06-17,33986,953,15485,777,31,431,UA,Europe,43993643
26457,26224,Ukraine,2020-06-18,34833,976,16001,847,23,516,UA,Europe,43993643

In [54]:
df5['popData2019'].astype(str).astype(int)
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2008 entries, 966 to 26457
Data columns (total 12 columns):
Unnamed: 0      2008 non-null int64
Country         2008 non-null object
Date            2008 non-null object
Confirmed       2008 non-null int64
Death           2008 non-null int64
Recovered       2008 non-null int64
newConfirmed    2008 non-null int64
newDeath        2008 non-null int64
newRecovered    2008 non-null int64
geoId           2008 non-null object
continentExp    2008 non-null object
popData2019     2008 non-null object
dtypes: int64(7), object(5)
memory usage: 203.9+ KB

In [61]:
df5['population'] = pd.to_numeric(df5['popData2019'])
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2009 entries, 966 to popData2019
Data columns (total 13 columns):
Unnamed: 0      2008 non-null float64
Country         2008 non-null object
Date            2008 non-null object
Confirmed       2008 non-null float64
Death           2008 non-null float64
Recovered       2008 non-null float64
newConfirmed    2008 non-null float64
newDeath        2008 non-null float64
newRecovered    2008 non-null float64
geoId           2008 non-null object
continentExp    2008 non-null object
popData2019     2008 non-null object
population      2008 non-null float64
dtypes: float64(8), object(5)
memory usage: 219.7+ KB

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [64]:
df5['population'].astype(int)
df5.info()

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [69]:
df5['popData2019'].value_counts()

46937060     171
83019213     171
10230185     171
145872260    171
60359546     171
9452409      171
17282163     171
11455519     171
67012883     171
8544527      171
43993643     149
10276617     149
Name: popData2019, dtype: int64